/* 
    details and summary CSS copied from here:   
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details 
*/
details {
    border: 1px solid #aaa;
    background-color: white;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.lb-url-container, 
.lb-url {
    text-align: center;
}

#button-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.lb-list-submit-button {
    font-size: 30px; 
    background-color: dodgerblue;
    color: white; 
}

.loading-bar-text {
    color: darkslategrey;
    font-size: large;
    text-align: right;
}


.ring-loader {
    margin: 0 auto;
    position: absolute;
}

/* label {
    display: flex;
    align-items: center;
}

input[type=checkbox] {
    display: block;
    justify-self: right;
} */

.checkbox-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    padding: 1em;
}