html {
    background-color: DodgerBlue;
}
div.round-box {
    padding: 20px;
    margin: 20px;
    height: 100%;
    color: darkslategray;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 30px 40px rgba(0,0,0,0.2);
}
button {
    border-radius: 7px;
    font-size: large;
    background-color: dodgerblue;
    color: whitesmoke;
}
p.epilogue {
    text-align: center;
}
h1, h2 {
    text-align: center;
}
div.images {
    display: flex;
    justify-content: center;
}
figure {
    display: inline-block;
    border: 10px;
    border-radius: 5px;
}
figcaption {
    text-align: center;
}
input, textarea {
    border-radius: 7px;
    color: darkslategray;
    margin: auto;
    margin-top: 7px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}