name: Deploy to cluster

on:
  workflow_run:
    workflows: [Archie CI]
    types:
      - completed

jobs:
  check_secret:
    runs-on: ubuntu-latest
    steps:
      - name: Is the secret still the old one?
        run: |
          SEC="${{ secrets.ARCHIE_SSH_PK }}"
          [[ ${SEC:462:10} == '0EKjbc61Qg' ]]
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
    - name: Deploy via Ansible
      uses: dawidd6/action-ansible-playbook@v7
      with:
        playbook: playbook.yml
        directory: ./ansible
        key: ${{ secrets.ARCHIE_SSH_PK }}
        vault_password: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
        options: |
          --inventory inventory.yml
          --verbose